.main{ margin-top:100px;}
.paused {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
.ball1{
	
	transition:all 0.5s ease-in-out;
	-webkite-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	animation:ball1 3s infinite;
	-webkit-animation:ball1 3s infinite;
	-moz-animation:ball1 3s infinite;
	
}

@keyframes ball1{
20%{
	
	transition:all 0.5s ease-in-out;
}
40%{
	
	margin-left:500px;
	margin-top:100px;
	transition:all 0.5s ease-in-out;
}
60%{
	
	margin-left:500px;
	margin-top:300px;
	transition:all 0.5s ease-in-out;
}
80%{
	
	margin-left:300px;
	margin-top:100px;
	transition:all 0.5s ease-in-out;
}
95%{
	
	transition:all 0.5s ease-in-out;
}
}

.ball2{
	
	transition:all 10s ease-in-out ;
	-webkite-transition:all 10s ease-in-out;
	-moz-transition:all 10s ease-in-out;
	animation:ball2 3s infinite;
	-webkit-animation:ball2 3s infinite;
	-moz-animation:ball2 3s infinite;
	
}
@keyframes ball2{
20%{
	
	margin-top:200px;
	transition:all 0.5s ease-in-out;
}
40%{
	margin-left:-20px;
	margin-top:-50px;
	transition:all 0.5s ease-in-out;
}
60%{
	margin-left:0px;
	margin-top:200px;
	transition:all 0.5s ease-in-out;
}
80%{
	
	margin-top:-100px;
	transition:all 0.5s ease-in-out;
}
95%{
	margin-top:50px;
	transition:all 0.5s ease-in-out;
}
}

.ball3{
	
	transition:all 10s ease-in-out;
	-webkite-transition:all 10s ease-in-out;
	-moz-transition:all 10s ease-in-out;
	animation:ball2 3s infinite;
	-webkit-animation:ball3 3s infinite;
	-moz-animation:ball3 3s infinite;
	
}
@keyframes ball3{
25%{
	
	margin-top:50px;
	transition:all 0.5s ease-in-out;
}
40%{
	
	margin-top:300px;
	transition:all 0.5s ease-in-out;
}
60%{
	
	margin-top:-500px;
	transition:all 0.5s ease-in-out;
}
80%{
	
	margin-top:100px;
	
	transition:all 0.5s ease-in-out;
}
95%{
	margin-top:100px;
	transition:all 0.5s ease-in-out;
}
}
