ul.inline-list li {
  width: 20%;
  float: left;
  margin-bottom: 100px;
}

ul.inline-list.list-gbox {
  float: left;
  width: 100%;
}

#box {
    position: relative;
    width: 100%;
    height: 85vh;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    
}
.giftbox-box{
  background: url("../img/giftbox-box.png") no-repeat;
  height: 130px;  
  float: left;
  width: 20%;
  background-position: center;
  cursor: pointer;
}

.icons .row span h3{
  font-size: 40px;
  text-align: center;
}
ul.inline-list.list-gbox li .giftbox {
    width: 170px;
    height: 135px;
    position: relative;
    bottom: 0;
    left: 0;
    margin-left: 0; 
    z-index: 10;
    cursor: pointer;
   -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

.playstate{
	-webkit-animation-play-state: running;
    animation-play-state: running;
}

ul.inline-list.list-gbox li .giftbox::after {
	content: '';
	position: absolute;
	color: #fff;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 24px;
	z-index: 1000;
	top: -133px;
    text-transform: uppercase;
    background: transparent;
    border-radius: 0;
    height: 32px;
}

#confetti{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
/*custom gift box*/
.above-fold {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-perspective: 800px;
          perspective: 800px;
  -webkit-perspective-origin: 50% 200px;
          perspective-origin: 50% 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}
.above-fold .info-text {
  width: 100%;
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #555;
  font-family: 'Avenir';
  font-weight: 100;
  font-size: 13px;
  height: 25px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.wrap-present {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.present-box {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width: 200px;
  height: 200px;
  margin: auto;
  -webkit-animation: rotate 11s alternate linear infinite;
          animation: rotate 11s alternate linear infinite;
  cursor: pointer;
}
.present-box:hover {
  -webkit-animation: staticFront 700ms ease forwards;
          animation: staticFront 700ms ease forwards;
}
.present-box.open {
  /*&>.side.top{
      opacity: .2;
  }*/
  -webkit-animation: zoomIn 1s ease-in forwards;
          animation: zoomIn 1s ease-in forwards;
  -webkit-transform: rotateX(-103deg) rotateY(-180deg);
          transform: rotateX(-103deg) rotateY(-180deg);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}
.present-box.open .present {
  pointer-events: auto;
  visibility: visible;
}
.present-box.open .present .img-wrap {
  opacity: 1;
  -webkit-transition: opacity 800ms 200ms, -webkit-transform 600ms 800ms;
  transition: opacity 800ms 200ms, -webkit-transform 600ms 800ms;
  transition: transform 600ms 800ms, opacity 800ms 200ms;
  transition: transform 600ms 800ms, opacity 800ms 200ms, -webkit-transform 600ms 800ms;
  -webkit-transform: translateZ(0px);
          transform: translateZ(0px);
}
.present-box.open > .side {
  opacity: .3;
  -webkit-transition: opacity 500ms 600ms;
  transition: opacity 500ms 600ms;
}
.present-box.open > .side.back {
  opacity: 0.7;
  -webkit-transform: translateZ(-101px) rotateY(180deg);
          transform: translateZ(-101px) rotateY(180deg);
}
.present-box.open > .side.front {
  -webkit-transition: opacity 500ms 600ms, -webkit-transform 800ms 0s;
  transition: opacity 500ms 600ms, -webkit-transform 800ms 0s;
  transition: transform 800ms 0s, opacity 500ms 600ms;
  transition: transform 800ms 0s, opacity 500ms 600ms, -webkit-transform 800ms 0s;
  -webkit-transform: translateZ(100px) rotateY(190deg) translateX(0px);
          transform: translateZ(100px) rotateY(190deg) translateX(0px);
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  opacity: 0.3;
}

.present-box .present {
  position: absolute;
  width: 200px;
  height: 200px;
  z-index: 50;
  -webkit-transform: rotateY(-180deg) rotateX(180deg) translateZ(-100px);
          transform: rotateY(-180deg) rotateX(180deg) translateZ(-100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-perspective: 600px;
          perspective: 600px;
  pointer-events: none;
  visibility: hidden;
}
.present-box .present > .img-wrap {
  width: 200px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  opacity: 0;
  -webkit-transform: translateZ(-80px);
          transform: translateZ(-80px);
}
.present-box .present > .img-wrap a {
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
  position: relative;
  display: block;
  -webkit-transform: scale(0.94);
          transform: scale(0.94);
}
.present-box .present > .img-wrap a:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.present-box .present > .img-wrap img {
  max-width: 100%;
  height: auto;
}

.present-box > .side {
  width: 200px;
  height: 200px;
  position: absolute;
  display: block;
  background: -webkit-repeating-linear-gradient(45deg, #cc2000, #cc2000 20px, #ffffff 20px, #ffffff 40px);
  background: repeating-linear-gradient(45deg, #cc2000, #cc2000 20px, #ffffff 20px, #ffffff 40px);
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}
.present-box > .side.back {
  -webkit-transform: translateZ(-100px) rotateY(180deg);
          transform: translateZ(-100px) rotateY(180deg);
}
.present-box > .side.right {
  -webkit-transform: rotateY(-270deg) translateX(100px);
          transform: rotateY(-270deg) translateX(100px);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}
.present-box > .side.left {
  -webkit-transform: rotateY(270deg) translateX(-100px);
          transform: rotateY(270deg) translateX(-100px);
  -webkit-transform-origin: center left;
          transform-origin: center left;
}
.present-box > .side.top {
  -webkit-transform: rotateX(-90deg) translateY(-100px);
          transform: rotateX(-90deg) translateY(-100px);
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 100px;
          perspective: 100px;
  text-align: center;
}
.present-box > .side.top .to {
  display: inline-block;
  font-family: cursive;
  position: relative;
  padding: 10px 10px 30px 10px;
  border: 5px dotted #ff6666;
  border-width: 2px;
  background: #fff;
  margin: auto;
  -webkit-transform: translateZ(-2px) translateY(50px);
          transform: translateZ(-2px) translateY(50px);
}
.present-box > .side.top .to:after {
  content: 'Telkomsel';
  display: inline-block;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  color: #990000;
}
.present-box > .side.top .to .name {
  display: block;
  position: absolute;
  -webkit-transform: translateY(20px) rotateY(180deg) translateX(10px);
          transform: translateY(20px) rotateY(180deg) translateX(10px);
  text-align: center;
  width: 100%;
  font-size: 1.1rem;
  color: #990000;
}
.present-box > .side.bottom {
  -webkit-transform: rotateX(90deg) translateY(100px);
          transform: rotateX(90deg) translateY(100px);
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}
.present-box > .side.front {
  -webkit-transform: translateZ(100px);
          transform: translateZ(100px);
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotateY(-360deg) rotateX(180deg);
            transform: rotateY(-360deg) rotateX(180deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotateY(-360deg) rotateX(180deg);
            transform: rotateY(-360deg) rotateX(180deg);
  }
}
@-webkit-keyframes staticFront {
  100% {
    -webkit-transform: rotateX(-100deg) rotateY(-180deg);
            transform: rotateX(-100deg) rotateY(-180deg);
  }
}
@keyframes staticFront {
  100% {
    -webkit-transform: rotateX(-100deg) rotateY(-180deg);
            transform: rotateX(-100deg) rotateY(-180deg);
  }
}
@-webkit-keyframes zoomIn {
  50% {
    -webkit-transform: rotateX(-143deg) rotateY(-180deg) translateZ(-15px);
            transform: rotateX(-143deg) rotateY(-180deg) translateZ(-15px);
  }
  100% {
    -webkit-transform: rotateX(-167deg) rotateY(-180deg) translateZ(-15px) scale(1.2);
            transform: rotateX(-167deg) rotateY(-180deg) translateZ(-15px) scale(1.2);
  }
}
@keyframes zoomIn {
  50% {
    -webkit-transform: rotateX(-143deg) rotateY(-180deg) translateZ(-15px);
            transform: rotateX(-143deg) rotateY(-180deg) translateZ(-15px);
  }
  100% {
    -webkit-transform: rotateX(-167deg) rotateY(-180deg) translateZ(-15px) scale(1.2);
            transform: rotateX(-167deg) rotateY(-180deg) translateZ(-15px) scale(1.2);
  }
}


@media (max-width: 480px) {

    ul.inline-list li {
        width: 48%;
        float: left;
        margin-bottom: 100px;
        margin-left: 5px;
    }

    ul.inline-list.list-gbox li .giftbox{
      width: 100%;
      height: 115px;
    }

    .icons .row span h3{
      font-size: 30px;
      text-align: center;
    }

}