/*helper*/
h1,h2,h3,h4,h5,h6{
	font-family: 'Open Sans', sans-serif;
}
.no-margin{
	margin: 0 !important; 
}
.no-padding{
	padding: 0 !important; 
}
.no-border{
	border:none !important;
}
.no-bg{
	background: none;
}
.no-box-shadow{
	box-shadow: none;
}


/*all margin*/
.mrgn5{
	margin: 5px;
}

.mrgn10{
	margin: 10px;
}

.mrgn15{
	margin: 15px;
}

.mrgn20{
	margin: 20px;
}
.mrgn25{
	margin: 25px;
}

.mrgn30{
	margin: 30px;
}
.mrgn35{
	margin: 35px;
}

.mrgn40{
	margin: 40px;
}

/*margin-top*/

.mt-5{
	margin-top:5px;
}
.mt-10{
	margin-top:10px;
}
.mt-15{
	margin-top:15px;
}
.mt-20{
	margin-top:20px;
}
.mt-25{
	margin-top:25px;
}
.mt-30{
	margin-top:30px;
}
.mt-35{
	margin-top:35px;
}
.mt-40{
	margin-top:40px;
}


/*margin-bottom*/
.mb-5{
	margin-bottom:5px;
}
.mb-10{
	margin-bottom:10px;
}
.mb-15{
	margin-bottom:15px;
}
.mb-20{
	margin-bottom:20px;
}
.mb-25{
	margin-bottom:25px;
}
.mb-30{
	margin-bottom:30px;
}
.mb-35{
	margin-bottom:35px;
}
.mb-40{
	margin-bottom:40px;
}


/*margin-left*/

.ml-5{
	margin-left:5px;
}
.ml-10{
	margin-left:10px;
}
.ml-15{
	margin-left:15px;
}
.ml-20{
	margin-left:20px;
}
.ml-25{
	margin-left:25px;
}
.ml-30{
	margin-left:30px;
}
.ml-35{
	margin-left:35px;
}
.ml-40{
	margin-left:40px;
}

/*margin-right*/

.mr-5{
	margin-right:5px;
}
.mr-10{
	margin-right:10px;
}
.mr-15{
	margin-right:15px;
}
.mr-20{
	margin-right:20px;
}
.mr-25{
	margin-right:25px;
}
.mr-30{
	margin-right:30px;
}
.mr-35{
	margin-right:35px;
}
.mr-40{
	margin-right:40px;
}


/*padding*/

/*all padding*/
.pad5{
	padding: 5px;
}

.pad10{
	padding: 10px;
}

.pad15{
	padding: 15px;
}

.pad20{
	padding: 20px;
}
.pad25{
	padding: 25px;
}

.pad30{
	padding: 30px;
}
.pad35{
	padding: 35px;
}

.pad40{
	padding: 40px;
}

/*margin-top*/

.pdt-5{
	padding-top:5px;
}
.pdt-10{
	padding-top:10px;
}
.pdt-15{
	padding-top:15px;
}
.pdt-20{
	padding-top:20px;
}
.pdt-25{
	padding-top:25px;
}
.pdt-30{
	padding-top:30px;
}
.pdt-35{
	padding-top:35px;
}
.pdt-40{
	padding-top:40px;
}


/*margin-bottom*/
.pdb-5{
	padding-bottom:5px;
}
.pdb-10{
	padding-bottom:10px;
}
.pdb-15{
	padding-bottom:15px;
}
.pdb-20{
	padding-bottom:20px;
}
.pdb-25{
	padding-bottom:25px;
}
.pdb-30{
	padding-bottom:30px;
}
.pdb-35{
	padding-bottom:35px;
}
.pdb-40{
	padding-bottom:40px;
}


/*margin-left*/

.pdl-5{
	padding-left:5px;
}
.pdl-10{
	padding-left:10px;
}
.pdl-15{
	padding-left:15px;
}
.pdl-20{
	padding-left:20px;
}
.pdl-25{
	padding-left:25px;
}
.pdl-30{
	padding-left:30px;
}
.pdl-35{
	padding-left:35px;
}
.pdl-40{
	padding-left:40px;
}

/*margin-right*/

.pdr-5{
	padding-right:5px;
}
.pdr-10{
	padding-right:10px;
}
.pdr-15{
	padding-right:15px;
}
.pdr-20{
	padding-right:20px;
}
.pdr-25{
	padding-right:25px;
}
.pdr-30{
	padding-right:30px;
}
.pdr-35{
	padding-right:35px;
}
.pdr-40{
	padding-right:40px;
}