/* YOUR CUSTOM STYLES */
/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(193, 193, 193); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgb(193, 193, 193); 
}
@font-face {
   font-family: 'OpenSans-Bold';
  src: local(Open Sans), url("../font/opensans/OpenSans-Bold.ttf");
  src: url("../font/opensans/OpenSans-Bold?#iefix") format("embedded-opentype"), url("../font/opensans/OpenSans-Bold.woff2") format("woff2"), url("../font/roboto/Roboto-Thin.woff") format("woff"), url("../font/roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: local(Open Sans), url("../font/opensans/OpenSans-Regular.ttf");
  src: url("../font/opensans/OpenSans-Regular?#iefix") format("embedded-opentype"), url("../font/opensans/OpenSans-Regular.woff2") format("woff2"), url("../font/roboto/Roboto-Thin.woff") format("woff"), url("../font/roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'OpenSans-Light';
  src: local(Open Sans), url("../font/opensans/OpenSans-Light.ttf");
  src: url("../font/opensans/OpenSans-Light?#iefix") format("embedded-opentype"), url("../font/opensans/OpenSans-Light.woff2") format("woff2"), url("../font/roboto/Roboto-Thin.woff") format("woff"), url("../font/roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 300;
}
a:focus{
  outline: none;
}
.modal-content button.closex {
    background: none;
    border: none;
    position: absolute;
    top: -55px;
    right: 0;
    left: 96%;
}
.modal-content button img{
	width: 60px;
}
.modal-content button img:focus{
	outline: none;
}
.modal-open section {
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  filter: blur(4px);
}
.modal-backdrop{
	background: #d6d6d6;
}
.navbar-fixed.fixed{
	position: fixed;
    left: 0;
    width: 100%;
    top: 0;
}
.navbar-fixed nav.bg-transparent{
  background: url("../images/bgtrans.png");
  box-shadow: none;
  position: relative;
  z-index: 98
}
nav .nav-wrapper {
    position: relative;
    height: 100%;
    z-index: 99;
}
nav .nav-wrapper ul.optin-menu li a{
    color: #1e1e24;
    /*font-family: 'OpenSans-Light';*/
    font-size: 12px;
    text-transform: uppercase; 
}
 nav .nav-wrapper ul.optin-menu li a:hover, nav .nav-wrapper ul.optin-menu li a.active{
    background-color: #aa2014;
    color: #fff;
}
.slider .indicators {
    bottom: 50px;
    z-index: 9;
}
.slider.banner-top{
   position: relative;
}
.overlay-bg{
  position: absolute;
  top: 64px;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
}
.slider.banner-top .slides li .caption{
  top: 40%;
}
nav .brand-logo{
  margin: 0 30px;
}
nav .brand-logo img{
  width: 60px;
}
.trigger-menu{
  position: relative;
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  padding: 0;
  white-space: nowrap;
  margin: 11px 30px;
}
.nav-menu-optin .row{
  margin-bottom: 0;
  padding: 0;
  height: 78px;
  position: relative;
}
.nav-menu-optin li{
  border-bottom: 1px solid #ddd;
  float: left;
  width: 100%;
}
.nav-menu-optin li a:hover{
  background: none;
}
.nav-menu-optin li .optin-fs a{
  font-size: 11px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  height: 100%;
  line-height: 78px;
}
.slider .indicators .indicator-item.active {
   background-color: #363636;
}
.nav-menu-optin .language{
  text-decoration: underline;
}
.nav-menu-optin .language a, .close-slideout a{
  height: 100%;
  line-height: 78px;
}
.close-slideout a{
  font-size: 16px;
}
.close-slideout .icon-x{
  position: relative;
  top: 3px;
  left: 10px;
}
.nav-menu-optin li .optin-fs ul.collapsible li:last-child{
  border-bottom: none;
 
}
.nav-menu-optin li .optin-fs ul.collapsible li a.collapsible-header{
  font-family: 'Open Sans', sans-serif;
  margin: 0 13px;
  
}

.nav-menu-optin li .optin-fs ul.collapsible li a.collapsible-header:hover{
  background: none;
}
.collapsible-body.sub-header ul li a{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
.nav-menu-optin li .optin-fs ul.collapsible li .collapsible-body.sub-header ul li {
  border-bottom: 1px solid #ddd;
  padding: 0;
}
.collapsible-body.sub-header{
  position: relative;
}
.container.inlines{
  display: inline-block;
}
.columns-inline{
    float: right;
    width: 79%;
    position: relative;
    top: -12px;
    text-align: right;
}
.columns-inline [type="radio"]:not(:checked)+label, [type="radio"]:checked+label{
    position: relative;
    padding-left: 25px;
    font-size: 0.7rem;
}
.inline-label{
  font-size: 11px;
  color: #9e9e9e;
}
.container.inlines .brand-logo {
    margin: 0 100px;
    /* position: relative; */
    top: 0;
}
input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: none;
	box-shadow: none;
}
.container.inlines .search-container{
	position: relative;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
    white-space: nowrap;
    top: -20px;
    left: 25vw;
    width: 100%;
    margin: auto;
    max-width: 350px;
}
.container.inlines .search-container .search-input{
	border: 1px solid #fff;
    background-color: #fff;
    background-image: url("../images/icon_06.png");
	background-size:35px;
	background-repeat: no-repeat;
	background-position: right center;
	height: 35px;
    opacity: .5;
    padding: 0 10px;
    width: 100%;
    font-size: 12px;
    color: #1e1e24;
    box-shadow:0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.links-optin img{
	width: 150px;
}
.caption-desc h4{
	font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    color: #939196;
}
.caption-desc span{
	font-size: 11px;
	color: #939196;
}
.container.content{
	width: 85%;
	padding: 30px 0;
}
.container.content.section-login{
  padding: 100px 0;
  min-height: 82vh;
}
.container.content.section-login h4.survey-header-title{
  font-size: 2rem;
  margin-top: 80px;
}
ul.listing-survey li{
  display: block;
  margin-bottom: 25px;
  padding: 13px;
  border-radius: 5px;
  float: left;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  background: #92140c;
}
ul.listing-survey li.done{
  background: #ebebeb;
  color: #676869;  
  box-shadow: none;
}

ul.listing-survey li.done .title-survey-list{
  font-family: 'OpenSans-Bold';
  font-weight: 700;
}

ul.listing-survey li a{
  color: #fff;
  font-family: 'OpenSans-Light';
  font-weight: 300;
  letter-spacing: 1px;
}
.icon_check img{
  height: 30px;
}
.icon_check {
  float: left;
  text-align: center;
  box-sizing: border-box;
  padding: 0 0.75rem;
  min-height: 1px;
  margin-left: auto;
  left: auto;
  right: auto;
  width: 50px;
}
.title-survey-list{
  margin-left: 22px;
  float: left;
  font-size: 1.3rem;
  line-height: 1.7;
  letter-spacing: 2px;
  font-family: 'OpenSans-Light';
  font-weight: 300;
}
ul.listing-survey li.done .text-coin{
  color: #151414;
  font-family: 'OpenSans-Bold';
  font-weight: 700;

}
ul.listing-survey{
    max-width: 750px;
    margin: 80px auto;
}
.text-coin{
  float: left;
  margin-left: 22px;
  color: #fff;
  line-height: 2.3;
  font-family: 'OpenSans-Light';
  font-weight: 300;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #fff;
    background-color: #428bca;
}
.nav-pills>li>a {
    border-radius: 4px;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.tab-content>.tab-pane {
    display: none;
    visibility: hidden;
}
.tab-content>.active {
    display: block;
    visibility: visible;
}
.title-survey{
  letter-spacing: 1px;
  font-size: 1rem;
}
.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #4c4c4c;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
.pager {
    padding-left: 0;
    margin: 20px 0;
    text-align: center;
    list-style: none;
}
.pager li {
    display: inline;
}
.pager .previous>a, .pager .previous>span {
    float: left;
}
.pager li>a, .pager li>span {
    display: inline-block;
    padding: 10px 26px;
    /*background-color: #961c15;*/
    background-color: #626868;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
}
.next span{
    position: relative;
    top: -10px;
}
.hidden {
    display: none!important;
    visibility: hidden!important;
}
.navbar.wizard-steps{
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -999;
}
.container.content.section-login h5{
  font-size: 1.2rem;
}
.container.content.section-login span.notification-success{
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 50px;
}
ul.survey-content-list li{
  display: inline-block;
  width: 148px;
  height: 148px;
  margin: 6px;
}
.class_checkbox {
    width: 100%;  
    height: 100%;
    border: 1px solid #9e9e9e;

}
.class_checkbox.checked {
    border: 3px solid #000;
}
.survey-content-list .text-interest{
    font-size: 1.2rem;
    color: #9e9e9e;
    font-weight: 300;
    letter-spacing: 1px;
}
.survey-content-list input[type=checkbox] {
    display:none;
}

.survey-content-list input[type=checkbox] + label {
    display:inline-block;
    padding: 0 0 0 0px;    
    height: 148px;
    width: 100%;
    background-size: 100%;
    border: 1px solid #9e9e9e;
}
.survey-content-list.detail-survey input[type="checkbox"] + label{
    font-size: 50px;
    line-height: 148px;
    text-align: center;
    margin-bottom: 10px;
}

.survey-content-list.detail-survey input[type=checkbox]:checked + label {
    border: 3px solid #000;
    color: #000;
}

.survey-content-list input[type=checkbox]:checked + label {
    border: 3px solid #000;
    height: 148px;
    width: 100%;
    display:inline-block;
    background-size: 100%;
}

.survey-content-list input[type=checkbox]:checked + label + .text-interest{
  color: #000;
}
.pager li>a.active{
   background-color: #961c15;
}
.survey-content-list input#interest-1[type=checkbox] + label {
  background: url("../images/interest-bola.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center center;
}
.survey-content-list input#interest-2[type=checkbox] + label {
  background: url("../images/interest-kuliner.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center center;
}
.survey-content-list input#interest-3[type=checkbox] + label {
  background: url("../images/interest-traveling.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center center;
}
.survey-content-list input#interest-4[type=checkbox] + label {
  background: url("../images/interest-music.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center center;
}
.survey-content-list input#interest-5[type=checkbox] + label {
  background: url("../images/interest-film.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center center;
}
.survey-content-list input#interest-1[type=checkbox]:checked + label{
  background: url("../images/interest-bola-active.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center center;
}
.survey-content-list input#interest-2[type=checkbox]:checked + label{
  background: url("../images/interest-kuliner-active.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center center;
}
.survey-content-list input#interest-3[type=checkbox]:checked + label{
  background: url("../images/interest-traveling-active.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center center;
}
.survey-content-list input#interest-4[type=checkbox]:checked + label{
  background: url("../images/interest-music-active.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center center;
}
.survey-content-list input#interest-5[type=checkbox]:checked + label{
  background: url("../images/interest-film-active.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center center;
}
.survey-content-list input[type="checkbox"]+label:before, [type="checkbox"]:not(.filled-in)+label:after{
  border:none;
}

.survey-content{
	height: 100vh;
	background: #363636;
	color: #fff;
	padding: 150px;
}
.survey-content h4, .article-content h4{
	font-size: 1.7rem;
}
.survey-icon, .survey-desc{
	margin: 50px;
	color: #ddd;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
.survey-icon img{
	width: 150px;
    position: relative;
    left: 20px;
}

.header-survey-detail h4, .header-survey-detail span{
    letter-spacing: 2px;
}
.header-survey-detail .later-icon{
  max-width: 965px;
}
.header-survey-detail .later-icon a{
  color: #676869;
  text-decoration: underline;
}
.search-content h6{
  font-family: 'OpenSans', sans-serif;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 1px;
}
.search-result-content .search-desc-content{
    font-size: 11px;
    color: #828282;
    max-width: 510px;
    float: left;
    letter-spacing: 1px;
    margin-top: 10px;
}
ul.search-list li{
    float: left;
    width: 100%;
    border-bottom: 1px solid #626364;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.parallax-container {
    height: 350px;
}
.col.search-result-content{
  padding: 0;
}
.x-split-button {
  position: relative;
  display: inline-block;
  text-align: left;
  margin-top: 70px;
  margin-left: 15px;
}

.x-split-button:hover .x-button{
  background: #ded5d5;
}
.x-split-button:hover .x-button.arrow{
  background: #92140c;
}

.x-button {
    position: relative;
    margin: 0;
    height: 45px;
    padding: 8px 30px;
    float: left;
    outline: none;
    font-size: 11px;
    line-height: 27px;
    background: #ebebeb;
    box-shadow: none;
    border: none;
}
.x-button.arrow{
  padding: 8px 10px;
  font-size: 20px;
  background: #757575;
  color: #fff;
}
.article-category, .title-article-content{
  font-weight: bold;
}
.article-content-p{
  font-size: 13px;
}
.legal-page h3{
    font-size: 2.5rem;
    letter-spacing: 1px;
    color: #626364;
}
.privacy-title{
    font-size: 16px;
    border-bottom: 1px solid #646362;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #626364;
    font-weight: bold;

}
.privacy-desc{
   color: #626364;
   font-size: 12px;
   letter-spacing: 1px;
}
.reward-page h5{
  color: #626364;
  line-height: 1.4;
  margin: 30px 0;
}
ul.reward-catalog li{
    float: left;
    width: 23%;
    height: 415px;
    margin: 0 8px;
    position: relative;
}
.overlay-reward{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    background: #fff;
    opacity: .2;
}
.text-reward{
    position: absolute;
    top: 36%;
    width: 100%;
    text-align: center;
    height: 100%;
    color: #000;
    font-size: 2rem;
}
.content-rewards{
    background: url("../images/line-stroke.png") no-repeat;
    float: left;
    width: 100%;
    margin-top: -75px;
    position: relative;
    display: none;
}
.active-reward{
  -webkit-box-shadow: 0px 1px 5px 3px rgba(229,171,167,1);
-moz-box-shadow: 0px 1px 5px 3px rgba(229,171,167,1);
box-shadow: 0px 1px 5px 3px rgba(229,171,167,1);
}
.breadcrumb-list{
  margin-bottom: 40px;
}
.breadcrumb-list .breadcrumb, .breadcrumb-list .breadcrumb:before{
  color: #888;
  font-size: 16px;
}
.reward-page-detail h5{
  font-weight: bold;
  font-size: 1rem !important;
  color: #646362;

}
.desc-detail-reward{
  max-width: 435px;
}
.redeem-reward{
  text-align: center;
  margin-top: 50px;
}
.redeem-reward .btn-redeem{
    border: 2px solid #bb1a0f;
    padding: 25px 30px;
    color: #bb1a0f;
    border-radius: 5px;
    font-size: 1.7rem;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    min-width: 179px;
}
.btn-spin{
  margin: 30px 0;
}
.wheelfortune-btn{
    border: 2px solid #bb1a0f;
    padding: 25px 30px;
    color: #bb1a0f;
    border-radius: 5px;
    font-size: 1.7rem;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    min-width: 179px;
}
.redeem-reward.bidding{
  max-width: 200px;
  margin: 20px auto;
}
input.bidding_offers{
  border: 2px solid #9e9e9e;
  padding: 10px;
  max-width: 176px;
  margin-bottom: 10px;
  height: 30px;
}
input.bidding_offers[type=text]:focus:not([readonly]){
  border-bottom:2px solid #9e9e9e;
}
.reward-page-detail.bidding .redeem-reward .btn-redeem{
    
    padding: 25px 60px;
    min-width: 200px;
    float: left;
    
}
.content-rewards:after, .content-rewards:before {
    bottom: 100%;
    border: solid transparent;
    background: url(../images/Line2-1.png);
    content: "";
    height: 47px;
    width: 55px;
    top: -42px;
    position: absolute;
    pointer-events: none;
}
#hot-reward-content.content-rewards:after, #hot-reward-content.content-rewards:before{
  left: 15%;
}
#free-call-content.content-rewards:after, #free-call-content.content-rewards:before {
  left: 37%;
}
#free-internet-content.content-rewards:after, #free-internet-content.content-rewards:before {
  left: 57%;
}
#bidding-content.content-rewards:after, #bidding-content.content-rewards:before {
  left: 78%;
}
/*.content-rewards:after , .content-rewards:before{
  content: "";
  background: url("../images/Line.png");
  background-repeat: no-repeat;
  height: 44px;
  width: 59px;
  top: -35px;
  background-position: left;
  position: absolute;
}*/

ul.rewards li{
    float: left;
    width: 23%;
    margin: 0 8px 20px;
    height: 250px;
}
ul.rewards li img{
    width: 100%;
    height: 100%;
}
ul.reward-catalog li a img{
  width: 100%;
  height: 100%;
}
.bid_fee, .bidders{
    font-weight: bold;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.code-mgm input{
    border: none;
    max-width: 385px;
    text-align: center;
    font-size: 24px;
    color: #868686;
    letter-spacing: 3px;
}
.mgm h4{
    font-size: 28px;
    color: #5d5d5d;
    margin-bottom: 60px;
    margin-top: 60px;
    letter-spacing: 2px;
}
.mgm .text-mgm{
   font-size: 18px;
    color: #5d5d5d;
    margin-bottom: 40px;
    margin-top: 20px;
    letter-spacing: 1px;
}
.video-optin{
  width: 100vw;
  height: 513px;
}
.video-optin img{
  width: 100%;
  height: 100%;
}
.modal.video{
  max-height: 100%;
}
ul.share-sosmed li{
  display: inline-block;
  margin: 10px 20px;
}
.tabs.menu-profile{
    overflow-x: hidden;
    overflow-y: hidden;
    height: auto;
}
.tabs.menu-profile .indicator{
  display: none;
}
.tabs.menu-profile  .tab{
  border-bottom: 1px solid #ddd;
}
ul.notification li{
    border-bottom: 1px solid #e4e4e4;
    float: left;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 20px;
}
ul.notification li h6{
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #888;
}
.pagination li.active {
    background-color: #961c15;
}
form.akun-edit .input-field input{
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 0;
}
.profile-default img{
  width: 100%;
}
.promo {
  width: 100vw;
  height: 100vh;
}
.promo img{
  width: 100%;
  height: 100%;
}
.pagination li a{
  font-size: 12px;
}
.profile-pswd input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
  border-bottom: 1px solid #9e9e9e;
}
.profile-pswd input{
  max-width: 250px;
}
.notif-text{
    font-size: 11px;
    letter-spacing: 1px;
    color: #888;
}
.tabs.menu-profile .tab a:hover, .tabs.menu-profile .tab a.active {
    background-color: #f9f9f9;
    color: #961c15;
    font-weight: bold;
    font-size: 12px;
    text-transform: capitalize;
    letter-spacing: 1px;
    border-bottom: 1px solid #961c15;

}
.tabs.menu-profile .tab a{
  color: rgba(0, 0, 0, 0.7);
  text-align: left;
  font-weight: bold;
  font-size: 12px;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.article-content{
	background: #e0d5cb;
	height: 100%;
	padding: 100px;
}
span.badge.new:after{
  content: "";
}
.btn-loadmore{
    padding: 20px 30px;
    border: none;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
button:focus {
    outline: none;
    background: none;
}
figcaption{
  text-align: left;
}
figcaption p.title-artic{
  margin-top: 130px;
}
.modal .modal-content.login-popup {
    background: url(../images/popup-login-min.png) no-repeat;
    background-size: 100%;
    height: 100vh;
	  box-shadow: none;
	  border: none;

}

.modal.signup .modal-content.login-popup.signup{
    height: auto;
}

.side-nav span.badge.new::before, .collapsible span.badge.new::before {
    content: '';
    position: absolute;
    top: 11px;
    right: 0;
    bottom: 10px;
    text-align: center;
    left: 10px;
    width: 25px;
    height: 25px;
    background-color: #aa2014;
    border-radius: 50px;
    z-index: -1;
}
.side-nav span.badge.new, .collapsible span.badge.new {
    position: absolute;
    background-color: transparent;
    top: 15px;
    right: 0;
    text-align: center;
    float: none;
    padding: 0;
   
}
.signup .form-login{
  height: auto;
  margin: -37px 55px 50px;
  padding-bottom: 55px;
}
.signup .inline-login-menu {
    margin-top: 6px;
}
.signup .copyright-text-login, .inline-login-menu li a{
  margin-top: 14px;
}
.form-login{
	  background: #fff;
    max-width: 300px;
    border-radius: 5px;
    height: 320px;
    padding: 0 20px;
}
.copyright-text-login, .inline-login-menu li a{
   font-size: 8px;
   font-weight: 300;
   color: #9e9e9e;
   margin-top: 35px;
}
.inline-login-menu{
  margin-top: 27px;
}
.password .eyeopen{
    display:none;
    right: 15px;
    position: absolute;
    top: 12px;
    cursor:pointer;
}
.password{
  position: relative;
}
.inline-login-menu li{
  display: inline-block;
}
.btn.btn-submit{
    background: #ac2114;
    font-size: 12px;
    text-transform: capitalize;
    border-radius: 4px;
    margin-top: 10px;
}
.input-field label{
	 font-size: 0.7rem;
}
.input-field label.active {
   	 font-size: 0.7rem;
    -webkit-transform: translateY(-140%);
    transform: translateY(-80%);
    color: inherit;

}
.form-login .input-field input:focus{
	border-bottom: 1px solid #313131;
}
.form-login input[type="text"]:focus:not([readonly])+label, input[type="password"]:focus:not([readonly])+label{
  color: #313131;
}
.input-field.col label {
    left: 0;
    top: 0.5rem;
    color: #a2a2a2;
}
.form-login .tag-title{
	  font-size: 11px;
    float: left;
    height: 45px;
    line-height: 4.6;
    color: #7b7b7b;
}
.checklist input[type="checkbox"]:checked+label:before {
    top: -4px;
    left: -5px;
    width: 9px;
    height: 17px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #26a69a;
    border-bottom: 2px solid #26a69a;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.checklist input[type="checkbox"]+label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    font-size: 11px !important;
    line-height: 21px;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}
.checklist input[type="checkbox"]+label:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    z-index: 0;
    border: 2px solid #9e9e9e;
    border-radius: 1px;
    margin-top: 2px;
    transition: .2s;
}
.form-login .span2 .tag-title{
  line-height: 3.2;
}
.login-popup.signup .form-login .span2 .tag-title{
    line-height: 1.4;
    padding: 0;
    text-align: center;
    position: relative;
    max-width: 260px;
}
.login-popup.signup .form-login .span2 .tag-title:before{
    content: '';
    border-bottom: 1px solid #9e9e9e;
    position: absolute;
    width: 21%;
    left: 0;
    top: 6px;
}
.login-popup.signup .form-login .span2 .tag-title:after{
    content: '';
    border-bottom: 1px solid #9e9e9e;
    position: absolute;
    width: 21%;
    right: 0;
    top: 6px;
}
.login-popup.signup .tag-title{
    width: 100%;
    line-height: 1.4;
    height: auto;
    padding: 10px 0 0;
    margin: 10px 0;
    text-align: center;
}
.modal.modal-sm .modal-content button.closex{
    background: none;
    border: none;
    position: absolute;
    top: -36px;
    right: 0;
    left: 94%;
}
.modal.modal-sm .modal-content button img {
    width: 38px;
}
.modal.modal-sm .modal-content{
  padding: 24px;
}
.modal.modal-sm{
  padding: 24px;
}

.btn.btn-cancel{
    background: #d8d8d8;
    font-size: 12px;
    margin-right: 10px;
}
.btn.btn-confirm{
    background: #0f2120;
    font-size: 12px;
    margin-left: 10px;
}
.icon_qcircle{
    width: 80px;
    height: 80px;
    background: #ebebeb;
    line-height: 80px;
    border-radius: 100%;
    font-size: 50px;
    margin: auto;
}
#myVerification .signup .form-login, #myVerificationSuccess .signup .form-login{
    margin: -18px 55px 50px;
    
}
#myVerification .signup .copyright-text-login{
    margin-top: 28px;
}
 #myVerificationSuccess .signup .copyright-text-login {
    margin-top: 67px;
}
#myVerificationSuccess .signup .inline-login-menu{
  margin-top: 58px;
}
#myVerification .signup .inline-login-menu {
    margin-top: 18px;
}
.containerFormVerify{
   height: 67vh;
}
.input-value-verify{
    height: 306px;
    line-height: 250px;
}
#myVerification .signup .form-login input.form-input[type="text"]{
    max-width: 40px;
    margin: 4px;
    text-align: center;
    font-size: 28px;
    color: #888;
}
.form-login .containerFormVerify h6{
  padding-top: 50px;
  font-size: 13px;
  font-weight: 700;
  color: #888;
}
.form-login .containerFormVerify span{
  font-size: 10px;
  color: #777;
}
.login-popup.signup ul.log-icon-meds{
  float: none;
  text-align: center;
  margin-bottom: 0;
}
.navbar-fixed nav.bg-transparent.bg-login{
  background: #961c15;
}
.navbar-fixed nav.bg-transparent.bg-login .container.inlines .search-container .search-input{
  opacity: 1;
}
.navbar-fixed nav.bg-transparent.bg-login .container.inlines .search-container{
  left: 14vw;
}
.total-coin{
  margin-left: 30px;
}
.value-coin{
  margin-left: 11px;
  font-size: 1rem;
}
.profile-info{
  position: relative;
  top: -12px;
  font-size: 12px;
   font-family: 'OpenSans-Light';
  font-weight: 300;
}
nav .nav-wrapper ul.optin-menu.login-menu li a{
  color: #fff;
}
nav .nav-wrapper ul.optin-menu.login-menu li a:hover, nav .nav-wrapper ul.optin-menu.login-menu li a.active{
  background: none;
}
ul.log-icon-meds {
	float: right;
}
ul.log-icon-meds li{
	display: inline-block;
	margin: 0 7px;
}
.picker__wrap{
  margin-top: -55px;
}
.fbicon i{
	color: #3b5998;
}
.twicon i{
	color: #00aced;
}
.gpicon i{
	color: #dd4b39;
}
.waicon i{
  color: #34af23;
}
.modal.signup{
  max-height: 100%;
}
.signupAcc input{
  font-size: 13px;
  margin-bottom: 10px;
}
.modal.signup .modal-dialog {
    width: 100%;
    margin: 50px auto;
    max-width: 970px;
}
.row.gender-row{
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #9e9e9e;
}
.log-icon-meds.profile-mrg{
  margin: 0 35px 0 0;
}
ul.category-article li {
    display: inline-block;
    width: 14%;
    margin: 10px;
}
ul.category-article li a{
	text-align: center;
    text-transform: uppercase;
    border: 1px solid #363636;
    padding: 10px;
    color: inherit;
    font-size: 12px;
    width: 100%;
    float: left;
}
ul.category-article li a.active{
	  background: #626868;
    border-color: #626868;
    color: #fff;
}
footer.page-footer{
	  background: #363636;
    height: 120px;
    line-height: 65px;

}
ul.menu-footer li {
    display: inline-block;
    margin: 0 15px;
}
ul.menu-footer li a{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
}
.container.c-footer{
	width: 85%;
}
.copyright-text{
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300px;
}

/*.nav-menu-optin li .optin-fs ul.collapsible li .collapsible-body.sub-header ul li:last-child{
  padding: 15px 0 0;
  border-bottom: none;
}*/

@media (min-width: 1500px) and (max-width: 1920px) {
	ul.survey-content-list li {
	    display: inline-block;
	    width: 166px;
	    height: 166px;
	    margin: 6px;
	}
	.container.content.section-login {
	    padding: 100px 0;
	    min-height: 88vh;
	}
	.slider.banner-top {
	    position: relative;
	    height: 650px !important;
	}
	.slider .slides {
	    background-color: #9e9e9e;
	    margin: 0;
	    height: 100% !important;
	}
	.survey-content {
	    height: 100vh;
	    background: #363636;
	    color: #fff;
	    padding: 250px;
	}
	.article-content figure, .article-content figure img{
		width: 100%;
	}

	.content-rewards{
		background-size: 100%;
	}
	ul.reward-catalog li {
	    float: left;
	    width: 23%;
	    height: 490px;
	    margin: 0 8px;
	    position: relative;
	}
	#hot-reward-content.content-rewards:after, #hot-reward-content.content-rewards:before {
	    left: 23%;
	}
	#free-call-content.content-rewards:after, #free-call-content.content-rewards:before {
	    left: 40%;
	}
	#free-internet-content.content-rewards:after, #free-internet-content.content-rewards:before {
	    left: 56%;
	}
	#bidding-content.content-rewards:after, #bidding-content.content-rewards:before {
	    left: 72%;
	}
	ul.rewards li {
	    float: left;
	    width: 23%;
	    margin: 0 8px 20px;
	    height: 300px;
	}
}
@media (max-width: 1280px) {
  .bg-login .container.inlines{
      width: 68%;
  }
  .log-icon-meds.profile-mrg{
	  margin: 0 10px 0 0;
  }
  .slides{
    height: 500px !important;
  }
  .slider .indicators{
    bottom: 80px;
  }
  ul.survey-content-list li {
    display: inline-block;
    width: 17%;
    height: 150px;
    margin: 6px;
  }
  .survey-content-list input[type=checkbox] + label, .survey-content-list input[type=checkbox]:checked + label{
    height: 130px;
  }
  .survey-content-list .text-interest{
    font-size: 1rem;
  }
  .survey-content-list.detail-survey input[type="checkbox"] + label{
    line-height: 130px;
  }
}

@media (min-width: 1024px) and (max-width: 1024px) {
    body{
      overflow-x: hidden;
     }
    .container.inlines {
        width: 64%;
    }
    .reward-page-detail .container{
      width: 90%;
    }
    .header-survey-detail .later-icon {
        max-width: 740px;
    }
    ul.rewards li {
        float: left;
        width: 23%;
        margin: 0 8px 20px;
        height: 220px;
    }
    .bg-login .container.inlines {
        width: 61%;
    }
    .navbar-fixed nav.bg-transparent.bg-login .container.inlines .search-container {
        left: 10vw;
    }
    .survey-content-list .text-interest {
        font-size: 0.8rem;
    }
    .promo {
        width: 100vw;
        height: 65vh;
    }
    ul.category-article li {
        display: inline-block;
        width: 13%;
        margin: 10px;
    }
    ul.menu-footer li {
      display: inline-block;
      margin: 0 7px;
    }
    .container.inlines .search-container {
        position: relative;
        color: #fff;
        display: inline-block;
        font-size: 2.1rem;
        padding: 0;
        white-space: nowrap;
        top: -20px;
        left: 25vw;
        width: 100%;
        margin: auto;
        max-width: 230px;
    }
    .container.inlines .brand-logo {
        margin: 0 28px;
        top: 0;
    }
}
@media (max-width: 1023px) {
 body{
  overflow-x: hidden;
 }
.show-desktop-only{
    display: none;
  }
  .log-icon-meds{
  margin: 0;
  }
  .video-optin {
    width: 100vw;
    height: 300px;
  }
  div.wheelfortune {
    margin-top: 110px;
    text-align: center;
    position: relative;
  }
  .header-survey-detail{
    margin-top: 60px;
  }
  .video .modal-content button.closex {
    background: none;
    border: none;
    position: absolute;
    top: -55px;
    right: 0;
    left: 93%;
  }
  .nav-menu-optin li .optin-fs ul.collapsible li a.collapsible-header{
    padding: 0 5px;
  }
  .reward-page-detail .container{
    width: 100%;
  }
  .reward-page-detail .container .card-content{
    padding: 20px 0;
  }
  .survey-content-list .text-interest {
    font-size: 0.8rem;
 }
 .navbar-fixed nav.bg-transparent.bg-login .container.inlines .search-container{
    top: -30px;
 }
 ul.reward-catalog li {
    float: left;
    width: 22%;
    height: 300px;
    margin: 0 8px;
    position: relative;
}
ul.rewards li {
    float: left;
    width: 22%;
    margin: 0 8px 20px;
    height: 160px;
}
ul.reward-catalog li a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  .profile-info {
    position: relative;
    top: -7px;
    font-size: 12px;
    font-family: 'OpenSans-Light';
    font-weight: 300;
}
.tabs.menu-profile {
    overflow-x: hidden;
    overflow-y: hidden;
    height: auto;
    flex-direction: column;
}
  .container.content.section-login {
    padding: 120px 0;
    min-height: auto;
 }
  .slider {
      height: 300px !important;
  }
  .slides{
     height: 100% !important; 
  }
  .slider .indicators {
    bottom: 0;
  }
  .container.inlines{
    width: 55%;
  }
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i{
    line-height: 80px;
  }
  .container.inlines .brand-logo {
    margin: 0 10px;
    top: -8px;
    left: 20%;
  }
  .article-content {
    background: #e0d5cb;
    height: 100%;
    padding: 0;
  }
  .bg-login .container.inlines {
    width: 50%;
  }
  .bg-login .container.inlines .brand-logo {
    margin: 0 10px;
    top: -8px;
    left: 57%;
  }
  ul.category-article li {
    display: inline-block;
    width: 21%;
    margin: 10px;
  }
  .container.c-footer {
    width: 100%;
    margin: 0;
  }
  .promo {
    width: 100vw;
    height: 40vh;
  }
  ul.menu-footer li a {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 11px;
  }
  ul.menu-footer li {
    display: inline-block;
    margin: 0 4px;
  }
  .survey-content {
      height: 70vh;
      background: #363636;
      color: #fff;
      padding: 150px;
  }
  .container.inlines .search-container {
      position: relative;
      color: #fff;
      display: inline-block;
      font-size: 2.1rem;
      padding: 0;
      white-space: nowrap;
      top: -15px;
      left: 13vw;
      width: 100%;
      margin: auto;
      max-width: 280px;
  }
  nav .nav-wrapper ul.optin-menu li a{
    line-height: 64px;
  }
}

@media (max-width: 767px){
  .container.inlines {
      width: 25%;
  }
  .bg-login .container.inlines {
      width: 39%;
  }
  .bg-login .container.inlines .brand-logo {
      margin: 0 10px;
      top: -8px;
      left: 48%;
  }
  ul.survey-content-list li {
      display: inline-block;
      width: 30%;
      height: 150px;
      margin: 6px;
  }
  ul.reward-catalog li {
    float: left;
    width: 21%;
    height: 190px;
    margin: 0 8px;
    position: relative;
}

ul.rewards li {
    float: left;
    width: 21%;
    margin: 0 8px 20px;
    height: 111px;
}
.legal-page h3 {
    font-size: 1.8rem;
    letter-spacing: 1px;
    color: #626364;
}
  .survey-content {
      height: 70vh;
      background: #363636;
      color: #fff;
      padding: 25px;
  }
  ul.category-article li {
      display: inline-block;
      width: 20%;
      margin: 10px;
  }
  .menu-footer{
      line-height: 56px;
  }
  .copyright-text{
    font-size: 9px;
  }
  ul.menu-footer li a {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 9px;
}
  ul.menu-footer li {
    display: inline-block;
    margin: 0 0px;
  }
  .container.inlines .brand-logo {
      margin: 0 10px;
      top: -8px;
      left: 23%;
  }
  .profile-info {
    position: relative;
    top: -17px;
    font-size: 12px;
    font-family: 'OpenSans-Light';
    font-weight: 300;
  }
  .total-coin {
      margin-left: 6px;
      position: relative;
      top: 22px;
      left: -113px;
  }
  .value-coin {
    margin-left: 11px;
    font-size: 1rem;
    position: absolute;
    top: -10px;
    left: 64px;
}
  [class*=' imghvr-'] figcaption, [class^=imghvr-] figcaption{
    padding: 0 10px;
  }
  [class*=' imghvr-'] figcaption, [class^=imghvr-] figcaption h3{
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  nav .brand-logo {
      margin: 0px 30px;
      left: 72vw;
  }
  .show-desktop-only{
    display: none;
  }
  .slider{
    height: 115px !important;
  }
  .slider .slides{
    height: 100% !important;
  }
  .container.inlines .brand-logo{
    margin: 0 25px;
  }
  nav .button-collapse.trigger-menu{
    margin:10px 18px;
  }
}


