td.the_wheel
{
    background-image: url(./wheel_back.png);
    background-position: center;
    background-repeat: no-repeat;
}

div.power_controls
{
    max-width: 144px;
    float: left;
    position: absolute;
    z-index: 1060;
}
.wheel-container{
    position: relative;
    margin-top: 50px;
}
.wheel-container .marker{
    position: absolute;
    width: 66px;
    height: 80px;
    top: -44px;
    left: 47%;
}
div.wheelfortune{
    margin-top: 90px;
    text-align: center;
    position: relative;
}
div.wheelfortune h6{
    font-weight: bold;
}
div.html5_logo
{
    margin-left:70px;
}

/* Styles for the power selection controls */
table.power
{
    background-color: #cccccc;
    cursor: pointer;
    border:1px solid #333333;
    margin-bottom: 20px;
}

table.power th
{
    background-color: white;
    cursor: default;
}

td.pw1
{
    background-color: #6fe8f0;
}

td.pw2
{
    background-color: #86ef6f;
}

td.pw3
{
    background-color: #ef6f6f;
}

/* Style applied to the spin button once a power has been selected */
.clickable
{
    cursor: pointer;
}

/* Other misc styles */
.margin_bottom
{
    margin-bottom: 5px;
}